<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Followers</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>

  <body>
    <header>
      <div class="header-left">
        {{ homeHtml | safe }}
        <h1>My Followers</h1>
      </div>
      <div class="header-right">
        {{ listFollowers | safe }} {{ composeTweetHtml | safe }} {{ searchUser |
        safe }} {{ searchTweet | safe }}

        <form action="/logout" method="post" class="header-form">
          <button type="submit">Log Out</button>
        </form>
      </div>
    </header>

    <div class="users-container">{{ html_content | safe}}</div>
  </body>
</html>
