<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List Followers</title>
    </head>

    <body>
        {{ homeHtml | safe }}
        {{ composeTweetHtml | safe }}
        <a href="/login">Log Out</a>

        {{ searchUser | safe }}
        {{ searchTweet | safe }}

        <h1>List Followers</h1>
        <div>
            {{ html_content | safe }}
        </div>
    </body>
</html>
