<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <script defer src="/static/js/index.js"></script>
    
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <h1>Login</h1>
      <a href="/signup">Sign Up</a>
    </header>

    <form id="loginForm" action="/approve_login" method="post">
      
      <label for="username">Username:</label><br />

      <input type="text" id="username" name="username" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br /><br />
      
      <input type="submit" value="Login" />
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul id="errorMessage">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      
    </form>
  </body>
</html>
