<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-left">
        {{ homeHtml | safe }}
        <h1>User</h1>
      </div>
      <div class="header-right">
        {{ composeTweetHtml | safe }} {{ listFollowers | safe }} {{ searchUser |
        safe }} {{ searchTweet | safe }}

        <form action="/login" class="header-form">
          <button type="submit">Log Out</button>
        </form>
      </div>
    </header>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="message">
      <p>{{ messages[0] }}</p>
      <!-- Display the first flashed message -->
    </div>
    {% endif %} {% endwith %}
    
    
    {{ html_content | safe }}
  </body>
</html>
